body {
  background-color: #FAFAFA;
}

main {

}

#nav-container {
  display: flex;
  justify-content: space-between;
}

#logo-block {
  width: 6em;
  margin-left: 2em;
}

#nav-button-placeholder {
  width: 3em;
  margin-right: 10em;
}

#bioPage {
  display: flex;
  justify-content: center;
  background-image: url(./images/background2.png);
  margin-top: -2em;
}

#about-me-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 6em;
}

#profile-image-container {
  width: 30em;
}

img {
width: 480px;
padding: 2em;
}

#about-img {
  width: 2em;
  margin-top: -2.3em;
}

#about-graphic {
  font-size: 1.2em;

}

#first-name {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -.5em;
  margin-left: 5px;


}

#last-name {
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: .3em;
}

#about-paragraph-section {
  display: flex;
  justify-content: flex-start;
  width: 40em;
  margin-top: 2em;
}

#about-me-paragraph {
  padding-right: 5em;
  margin-left: 2em;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
}

b {
  color: darkorchid;
  font-size: 1.2em;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  margin-left: 9.5em;
  margin-top: 0em;
}

#icon-section {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
  margin-top: 0em;
}

#github {
  width: 2em;
  margin-left: -3em;
  font-weight: bolder;
}

#footer {
  text-align: center;
}
