@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #fafafa;
}

#app {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


// ABOUT
#about-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  margin-bottom: 2em;
  background-image: url(./assets/About.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 25em;
}

li a {
  text-decoration: none;
  color: grey;
}

li a:hover {
  text-decoration: none;
  color: lightgrey;
}

#profile-image {
  height: 40em;
  margin-left: 10em;
}

#right-container {
  margin-left: 2em;
}

#about-image {
  width: 3em;
  margin-right: 2em;
}

#first-name {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

#last-name {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

#top-section {
  display: flex;
  flex-direction: column;
  width: 40em;
  margin-top: 2em;
}

#paragraph-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#about-me-paragraph {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
}

b {
  color: darkorchid;
  font-size: 1.2em;
}

#bottom-section {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

#social-icons {
  width: 3em;
  margin-right: 1.5em;
}


// PROJECTS
#projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-image: url(./assets/Projects.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 5em;
}

.project-card-container {
  margin-top: 1em;
}


// TECH
#tech-container {
  background-image: url(./assets/Tech.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 25em;
}

#footer {
  text-align: center;
}
